<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template.html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Liste des Produits </title>
</head>
<body>
<div layout:fragment="content">
    <!-- Modal -->
    <div class="modal fade" id="addPromotionModal" tabindex="-1" aria-labelledby="addPromotionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPromotionModalLabel">Ajouter une Promotion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulaire pour ajouter une promotion -->
                    <form  th: method="post" th:action="@{addPromotion}">
                        <div class="mb-3">
                            <label for="startDate" class="form-label">Date de début</label>
                            <input type="date" class="form-control" id="startDate" name="startDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="endDate" class="form-label">Date de fin</label>
                            <input type="date" class="form-control" id="endDate" name="endDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="discountPercentage" class="form-label">Pourcentage de Remise</label>
                            <input type="number" class="form-control" id="discountPercentage" name="discountPercentage" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Ajouter Promotion</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Ajoutez les liens vers les fichiers JS Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
    // Le code JavaScript suivant est nécessaire pour activer le modal
    var myModal = new bootstrap.Modal(document.getElementById('addPromotionModal'));
</script>













</div>

</body>
</html>