<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template.html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Liste des Produits </title>
    <script th:src="@{/jscript/promo.js}" type="text/javascript" th:defer="defer"></script>
    <link th:href="@{/css/promo.css}" rel="stylesheet">
</head>
<body th:onload="|getProductsByCategory(${category} == null ? 0 : ${category}, ${page} == null ? 0 : ${page})|">
    <div layout:fragment="content">
        <div class="container mt-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h1>Catalogue</h1>
                <div th:id="filterProducts" class="row">
                    <label th:for="selectCategry" class="col-auto mt-1">Filtre par catégorie :</label>
                    <div class="col-auto">
                        <select th:id="selectCategry" class="form-select" th:onchange="getProductsByCategory(this.value)">
                            <option value="">Choisir une catégorie</option>
                            <option th:value="4">Décoration</option>
                            <option th:value="2">Mécanique</option>
                            <option th:value="5">Eléctricité</option>
                            <option th:value="6">Beauté, Hygiène</option>
                            <option th:value="7">Vêtement Homme</option>
                            <option th:value="9">Informatique</option>
                            <option th:value="0">Touts les produits</option>
                        </select>
                    </div>
                </div>
                <a th:href="@{'../products/formProduct'}" class="btn btn-dark" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Nouveau Produit</a>
            </div>
            <div th:id="listProducts">

            </div>
        </div>
            <div class="modal fade" id="addPromotionModal" tabindex="-1" aria-labelledby="addPromotionModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                            <h5 class="modal-title" id="addPromotionModalLabel">Ajouter une Promotion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Formulaire pour ajouter une promotion -->
                            <form th:id="promotionForm">
                                <div class="mb-3">
                                    <label for="startDateModal" class="form-label">Date de début</label>
                                    <input type="date" class="form-control" id="startDateModal" name="startDate" required>
                                </div>
                                <div class="mb-3">
                                    <label for="endDateModal" class="form-label">Date de fin</label>
                                    <input type="date" class="form-control" id="endDateModal" name="endDate" required>
                                </div>
                                <div class="mb-3">
                                    <label for="priceModal" class="form-label">Prix</label>
                                    <input type="text" class="form-control" id="priceModal" name="price" disabled required>
                                </div>
                                <div class="mb-3">
                                    <label for="discountPercentageModal" class="form-label">Pourcentage de Remise</label>
                                    <select class="form-control" id="discountPercentageModal" name="discountPercentage" required>
                                        <option th:value="5">5%</option>
                                        <option th:value="10">10%</option>
                                        <option th:value="15">15%</option>
                                        <option th:value="20">20%</option>
                                        <option th:value="25">25%</option>
                                    </select>
                                    <!-- <input type="number" class="form-control" id="discountPercentageModal" name="discountPercentage" required>-->
                                </div>
                                <input th:type="hidden" th:name="_csrf" th:value="${_csrf.token}">
                                <input type="text" class="form-control" id="productIdModal" name="productId" required>
                                <button type="button" th:onclick="|savePromotion()|" class="btn btn-primary">Enregistrer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>

