
<div class="row row-cols-1 row-cols-md-5 g-4">
    <div th:each="product : ${products}" class="col">
      <div class="card h-100" th:id="|cardId-${product.id}|">
        <img th:src="@{/assets/{fileName}(fileName=${product.imagePath})}" class="card-img-top" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title" th:text="${product.label}"></h5>
          <p class="card-text" th:text="${product.description}"></p>
          <div th:if="${product.promotion != null}" class="card-text">
            <span class="card-text text-danger has-promotion" th:inline="text" th:id="|priceId-${product.id}|">[[${#numbers.formatDecimal(product.prix, 0, 'COMMA', 2, 'POINT')}]] €</span>
            <p class="card-text">[[${product.promotion.discountPercentage}]] %</p>
            <span class="card-text">De : [[${product.promotion.startDate}]]</span>
            <span class="card-text">Au : [[${product.promotion.endDate}]]</span>
            <p th:id="|promotionId-${product.id}|" class="card-text text-danger"></p>
          </div>
          <p class="card-text" th:unless="${product.promotion != null}">[[${product.prix}]] €</p>
        </div>
        <div class="d-flex justify-between card-footer">
          <a th:href="@{editProduct/{id}(id=${product.id})}" class="btn btn-primary">
            <i class="bi bi-pencil"></i>
          </a>
          <button type="button" data-bs-toggle="modal" data-bs-target="#addPromotionModal" class="btn btn-dark" th:onclick="|showPromotionForm(${product.id}, ${product.prix})|">Ajouter une promotion</button>
          <a onclick="return confirm('Etes vous sure?')"
             th:href="@{deleteProduct/{id}(id=${product.id})}" class="btn btn-danger">
            <i class="bi bi-trash"></i>
          </a>
        </div>
      </div>
    </div>
</div>
<div class="card-footer my-4">
  <nav aria-label="Page navigation mt-5">
    <ul class="nav nav-pills">
      <li th:each="page,status:${pages}">
          <button th:class="${status.index==currentPage?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                  th:onclick="|getProductsByCategory( ${category}, ${status.index})|"
                  th:text="${status.index + 1}">
          </button>
      </li>
    </ul>
  </nav>
</div>
