<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template.html">
<head>
    <meta charset="UTF-8">
    <title>Utilisateurs </title>
</head>
<body>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col-md-5 offset-3">
            <div class="card my-4">
                <div class="card-header">Création d'un utilisateur</div>
                <div class="card-body">
                    <div class="p-1">
                        <form method="post" th:action="@{saveUser}">
                            <div class="mb-3 mt-3">
                                <label for="lastname" class="form-label">Nom:</label>
                                <input type="text" class="form-control" id="lastname" placeholder="Nom" name="lastname">
                                <span class="text-danger" th:errors="${user.lastname}" th:value="${user.lastname}"></span>
                            </div>
                            <div class="mb-3">
                                <label for="firstname" class="form-label">Prenom:</label>
                                <input type="text" class="form-control" id="firstname" placeholder="Prenom" name="firstname">
                                <span class="text-danger" th:errors="${user.firstname}" th:value="${user.firstname}"></span>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="text" class="form-control" id="email" placeholder="Email" name="email">
                                <span class="text-danger" th:errors="${user.email}" th:value="${user.email}"></span>
                            </div>
                            <div class="mb-3">
                                <label for="role" class="form-label">Rôle:</label>
                                <input type="text" class="form-control" id="role" placeholder="role" name="role">
                                <span class="text-danger" th:errors="${user.role}" th:value="${user.role}"></span>
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">Nom d'utilisateur:</label>
                                <input type="text" class="form-control" id="username" placeholder="Username" name="username">
                                <span class="text-danger" th:errors="${user.username}" th:value="${user.username}"></span>
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="password" class="form-label">Mot de passe:</label>
                                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                                <span class="text-danger" th:errors="${user.password}" th:value="${user.password}"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Enregistrez</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>