<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template.html">
<head>
    <meta charset="UTF-8">
    <title>Mis à jour de la promotion </title>
</head>
<body>
<div layout:fragment="content">
    <div class="row my-5">
        <div class="col-md-6 offset-3">
            <div class="card">
                <div class="card-header">Mis à jour de la promotion</div>
                <div class="card-body">
                    <div class="p-3">
                        <form th:method="post" th:action="@{../editPromotion/{id}(id=${promotion.id})}" th:object="${promotion}">
                            <div class="mb-3 mt-3">
                                <label for="discountPercentage" class="form-label">Promotion:</label>
                                <input type="text" class="form-control" id="discountPercentage" placeholder="Nom" name="discountPercentage" th:value="${promotion.discountPercentage}" th:field="*{discountPercentage}">
                                <div th:if="${#fields.hasErrors('discountPercentage')}" class="alert alert-danger">
                                    <p th:errors="*{discountPercentage}"></p>
                                </div>
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="startDate" class="form-label">Date de début:</label>
                                <input type="date" class="form-control" id="startDate" placeholder="Nom" name="startDate" th:value="${promotion.getStartDate()}" th:field="*{startDate}">
                                <div th:if="${#fields.hasErrors('startDate')}" class="alert alert-danger">
                                    <p th:errors="*{startDate}"></p>
                                </div>
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="endDate" class="form-label">Date de fin:</label>
                                <input type="date" class="form-control" id="endDate" placeholder="Nom" name="endDate" th:value="${promotion.endDate}" th:field="*{endDate}">
                                <div th:if="${#fields.hasErrors('endDate')}" class="alert alert-danger">
                                    <p th:errors="*{endDate}"></p>
                                </div>
                            </div>
                            <input th:type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
                            <input type="hidden" name="id" th:value="${promotion.id}" />
                            <button class="btn btn-success">Mettre à jour</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>